nav {
  text-align: center;
}

.title {
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: 6px;
  margin: 2rem 0;
}

.add-recipe-button {
  border: 3px #894bfc double;
  background-color: white;
  padding: 1rem;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
}

.add-recipe-button:hover {
  border: 3px white double;
  background-color: #894bfc;
  color: white;
  transition: all 0.5s ease-in-out;
}

.save-recipe-button {
  border: 1px #1fa521 solid;
  background-color: #1fa521;
  color: white;
  padding: 1rem;
  cursor: pointer;
  display: block;
  margin: 0 auto 1rem;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.save-recipe-button:hover {
  border: 1px #08593a solid;
  background-color: #08593a;
  border-radius: 5px;
  color: white;
  transition: all 0.3s ease-in-out;
}

/* The Modal (background) */
#myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(167, 119, 255, 0.2);
}

/* Modal Content/Box */
.modal-content {
  background-color: #ffffff;
  margin: 300px auto 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal,
.input-label {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-left: 1rem;
}

.input-label {
  display: block;
  margin-bottom: 0.5rem;
}

.name {
  margin-top: 1rem;
}

.inputbox {
  border-radius: 5px;
  border: 1px #dddddd solid;
  width: 85%;
  margin-bottom: 1.5rem;
  height: 2rem;
  padding-left: 0.5rem;
}

.recipe-haveCooked-label {
  display: flex;
}

.cooked {
  padding-top: 7px;
}

.recipe-haveCooked {
  -ms-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -o-transform: scale(1.25);
  width: 20px;
}

/* The Close Button */
.close {
  color: #9557ee;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #6c1be5;
  text-decoration: none;
  cursor: pointer;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 5vw;
}

.recipe-card {
  background-color: #fff0f5;
  display: grid;
  align-items: center;
  margin-bottom: 2rem;
  border: 1px #fff0f5 solid;
  border-radius: 10px;
  padding: 1rem;
  width: 300px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
}

.recipe-card-name {
  font-weight: bold;
  font-size: 1.25rem;
}

.recipe-card-ingredients {
  font-style: italic;
}

.recipe-card div {
  margin-bottom: 8px;
}

.cooked-toggle {
  border: 1px solid white;
  border: 1px solid white;
  border-radius: 15px;
  background-color: #ff3d3d;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
  width: 170px;
  margin: 8px auto 12px;
  padding: 0.75rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.cooked-toggle:hover {
  background-color: #c32c2c;
}

a {
  text-decoration: none;
  color: #d63168;
}

a:visited {
  text-decoration: none;
  color: #d63168;
}

a:hover {
  color: #894bfc;
}

.delete-button {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto;
}

.far {
  font-size: 1.25rem;
}

.swal-modal {
  font-family: "Open Sans", sans-serif;
}
